<template>
 <div class="login-wrapper border border-light">
    <form class="form-signin" @submit.prevent="login">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input v-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
    <router-link to="/SignUpPage"><button class="sign_up btn btn-lg btn-primary btn-block">Sign up</button></router-link>
  </div>

</template>
<script>
  import axios from 'axios'
  export default {
      name: 'LoginPage',
      data () {
        return {
          email: '',
          password: ''
        }
  },

  methods: {
    login () {
      var logData = {
      	email: this.email,
      	password: this.password
      }
      axios.post('/user', JSON.stringify(logData))
    .then(function (response) {
     	this.$router.push('/UsrPage')
    })
    .catch(function (error) {
      console.log(error);
     this.$router.push('/UsrPage')
    });
      this.$router.push('/UsrPage')


    }
  }
}
</script>
<style>
	body {
  background: #605B56;
}


.login-wrapper {
  background: #fff;
  width: 70%;
  margin: 12% auto;
}

.form-signin {
  max-width: 330px;
  padding: 10% 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
