<template>
  <div id="app">
    	<router-link to="/UsrPage">Home</router-link>
    	<router-link to="/Schedule">Schedule</router-link>
    	<router-link to="/Chart">Chart</router-link>
    	<router-link to="/RatingGrid">Stundents Raiting</router-link>
    	<router-link to="/AttendingGrid">Students Attending</router-link>
    	<h1>Welcome to JournalApp</h1>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>
<<<<<<< HEAD
=======

>>>>>>> develop
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
